body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f0e1;
    color: #333;
    text-align: center;
}

header {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
                url('https://images.unsplash.com/photo-1516426122078-c23e76319801?auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 10px black;
}

p{
    font-size:22px;
}
